.big {
  margin: 0 auto;
  width: 1440px;
}
.tour {
  display: flex;
  justify-content: space-between;
  width: 1440px;

  align-items: center;
}
.pinetour {
  background-image: url(pinetour-logo.webp);

  position: fixed;
  height: 35px;
  width: 100px;
  display: flex;
  background-size: 100%;
}
.home {
  position: fixed;
  font-size: 23px;
  color: white;
  display: flex;
  padding-left: 555px;
  padding-top: 30px;
}
.about {
  position: fixed;
  font-size: 23px;
  color: white;
  height: 50px;
  width: 50px;
  padding-left: 680px;
  padding-top: 55px;
}
.contact {
  position: fixed;
  font-size: 23px;
  color: white;
  padding-left: 800px;
  padding-top: 30px;
}
.user {
  color: white;
  font-size: 23px;
  padding-left: 920px;
  padding-top: 30px;
  position: fixed;
}
.en {
  font-size: 23px;
  color: black;
  padding-left: 1300px;
  padding-top: 30px;
  height: 30px;
  width: 30px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(87cef5d5d40a9f22a64d6937ad2f7df5b04e3d85.png);
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 800px;
}
.location {
  display: flex;
  background-image: url(6bb474b8f154e12ab10e74d534a188674e4d8b4c.png);
  background-size: cover;
  width: 1440px;
  height: 500px;
}
.roadmap {
  display: flex;
  background-image: url(f5b17d15dc77956189a929448458859006401865.png);
  background-size: cover;
  width: 1440px;
  height: 1022px;
}
.fouter {
  display: flex;
  background-image: url(bfc82fd98ba90e92a1a6c0d5ac559a55f9413e51.png);
  background-size: cover;
  width: 1440px;
  height: 1120px;
  background-position: center;
}
.text1 {
  display: flex;
  font-size: 55px;
  color: white;
  opacity: 0.5;
}
.text2 {
  font-size: 250px;
  color: white;
}
.text3 {
  font-size: 70px;
  color: white;
}
.location {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.text4 {
  background-image: url(94117af0fae2d95b54ef6842a38934433c1d99d7.png);
  width: 265px;
  height: 350px;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 25px;
}
.text5 {
  background-image: url(2.png);
  width: 265px;
  height: 350px;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.text6 {
  background-image: url(3addd77130ef139251c1b14778748735ed337e4d.png);
  width: 265px;
  height: 350px;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.text7 {
  background-image: url(pinefour5.png);
  width: 265px;
  height: 350px;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.roadmap {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.text8 {
  font-size: 55px;
}
.text9 {
  font-size: 25px;
  color: rgb(22, 21, 21);
  opacity: 0.7;
}
.road {
  width: 1440px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  padding-left: 170px;
}
.text10 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #eee9d9;
  opacity: 0.9;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text11 {
  height: 112px;
  width: 513px;
  border-radius: 120px;
  background-color: #8bb8c1cc;
  opacity: 0.8;
  font-size: 30px;
  flex-direction: column;
}
.text12 {
  height: 112px;
  width: 513px;
  border-radius: 120px;
  background-color: #aad8d7cc;
  opacity: 0.7;
  font-size: 30px;
  flex-direction: column;
}
.text13 {
  height: 112px;
  width: 513px;
  border-radius: 120px;
  background-color: #8bc0bdcc;
  opacity: 0.6;
  font-size: 30px;
}
.text14 {
  height: 112px;
  width: 513px;
  border-radius: 120px;
  background-color: #97cce0cc;
  opacity: 0.5;
  font-size: 30px;
}
.garchig {
  width: 1440px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}
.font {
  font-size: 20px;
}
.day {
  height: 40px;
  width: 40px;
}
.fouter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.text15 {
  font-size: 60px;
  padding-top: 50px;
}
.text16 {
  font-size: 25px;
  opacity: 0.7;
}
.neg {
  height: 527px;
  width: 384px;
  border-radius: 40px;
  background-color: white;
}
.hoer {
  height: 527px;
  width: 384px;
  border-radius: 40px;
  background-color: white;
}
.gurav {
  height: 527px;
  width: 384px;
  border-radius: 40px;
  background-color: white;
}
.buttons {
  display: flex;
  gap: 20px;
  padding-top: 60px;
}
.logo {
  display: flex;
  gap: 16px;
  font-size: 25px;
  height: 50px;
  padding-top: 30px;
  padding-left: 24px;
  align-items: center;
  width: 384px;
  bottom: 100px;
}
.too {
  font-size: 40px;
  display: flex;
  padding-left: 24px;
  padding-top: 30px;
}
.duruv {
  font-size: 24px;
  padding-left: 24px;
  opacity: 0.6;
}
.tav {
  font-size: 30px;
  padding-left: 40px;
  padding-top: 20px;
}
.text17 {
  font-size: 20px;
  padding-left: 40px;
  gap: 20px;
  padding-top: 10px;
  opacity: 0.7;
}
.text18 {
  font-size: 20px;
  padding-left: 40px;
  padding-top: 10px;
  opacity: 0.7;
}
.text19 {
  font-size: 20px;
  padding-left: 40px;
  padding-top: 10px;
  opacity: 0.7;
}
.text20 {
  font-size: 20px;
  padding-left: 40px;
  padding-top: 10px;
  opacity: 0.7;
}
.button {
  display: flex;
  justify-content: center;
  background-color: #a4d1e2;
  height: 40px;
  width: 300px;
}
